<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments :: head"></head>
<body>
<header th:replace="fragments :: header"></header>
<h4>Edit the address</h4>
<div class="col-6">
    <form action="#" th:action="@{/addresses/update/{id}(id=${id})}" th:object="${address}" method="post">
        <div class="form-group">
            <label for="name">Name</label>
            <input class="form-control" type="text" th:field="*{address}" placeholder="Name" id="name">
            <span class="text-danger" th:if="${#fields.hasErrors('address')}" th:errors="*{address}">Name Error</span>
        </div>
        <button type="submit" class="btn btn-primary">Update Address</button>
    </form>
</div>
<footer th:replace="fragments :: footer"></footer>
</body>
</html>